<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GAMBINO</title>
  <link rel="stylesheet" href="style_template.css">
</head>




<body>



  <header class="Header">
    <div class="Logo">GAMBINO</div>

    <nav class="Navegation">
      <a href="index.html">Home</a>

    </nav>
  </header>




  <main class="Main">
    imagens
  </main>




  <footer class="Footer">
    <div class="Footer-Conteudo">
        <p>© 2026 Todos os direitos reservados.</p>
        <p>GAMBINO</p>
        <nav class="Navegation">
            <a href="politicas.html">Politicas</a>
            <a href="termos.html">Termos</a>
            <a href="contacto.html">Contacto</a>
            <a href="FAQ.html">FAQ</a>
        </nav>
    </div>
  </footer>

</body>
</html>