* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  padding-top: 70px;
}

/* Header */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  background: #523101;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.Logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;

}

.Navegation {
  display: flex;
  gap: 24px;
}

.Navegation a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}


/* Footer */
.Footer {
  background: #523101;
  color: #e5e7eb;
  text-align: center;
  padding: 16px 32px;
  font-size: 15px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

.Footer-Conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



@media (max-width: 440px) {
  .Footer-Conteudo {
    flex-direction: column;
    gap: 12px;
  }
}

/* Politica */

.politica{
  max-width: 700px;
  margin: 50px auto;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.politica h1{
  text-align: center;
  margin-top: 35px;
  color: black;
}

.politica h2{
  margin-top: 40px;
  color: black;
  border-bottom: 3px solid white;
  padding-bottom: 8px;
}

.politica p {
  margin: 15px 0;
}


